In [5]:
# Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.
import pandas as pd

In [4]:
def load_data():
    # estos ficheros no tienen header
    headers = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
             'marital-status', 'accupation', 'relationship', 'race', 'sex',
             'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'label']
    
    path_= 'adult_dataset'
    X_train = pd.read_csv(path_+'/adult.data', sep=',', header=None, names=headers)
    X_test = pd.read_csv(path_+'/adult.test', sep=',', header=None, names=headers, skiprows=1)
    X_train.replace(to_replace='?', value=np.nan, inplace=True)
    X_test.replace(to_replace='?', value=np.nan, inplace=True)
    
    y_train = X_train['label']
    y_test = X_test['label']
    del X_train['label']
    del X_test['label']
    return X_train, X_test, y_train, y_test

(       age          workclass  fnlwgt      education  education-num  \
 0       39          State-gov   77516      Bachelors             13
 1       50   Self-emp-not-inc   83311      Bachelors             13
 2       38            Private  215646        HS-grad              9
 3       53            Private  234721           11th              7
 4       28            Private  338409      Bachelors             13
 5       37            Private  284582        Masters             14
 6       49            Private  160187            9th              5
 7       52   Self-emp-not-inc  209642        HS-grad              9
 8       31            Private   45781        Masters             14
 9       42            Private  159449      Bachelors             13
 10      37            Private  280464   Some-college             10
 11      30          State-gov  141297      Bachelors             13
 12      23            Private  122272      Bachelors             13
 13      32            Private  205019     Assoc-acdm             12
 14      40            Private  121772      Assoc-voc             11
 15      34            Private  245487        7th-8th              4
 16      25   Self-emp-not-inc  176756        HS-grad              9
 17      32            Private  186824        HS-grad              9
 18      38            Private   28887           11th              7
 19      43   Self-emp-not-inc  292175        Masters             14
 20      40            Private  193524      Doctorate             16
 21      54            Private  302146        HS-grad              9
 22      35        Federal-gov   76845            9th              5
 23      43            Private  117037           11th              7
 24      59            Private  109015        HS-grad              9
 25      56          Local-gov  216851      Bachelors             13
 26      19            Private  168294        HS-grad              9
 27      54                  ?  180211   Some-college             10
 28      39            Private  367260        HS-grad              9
 29      49            Private  193366        HS-grad              9
 ...    ...                ...     ...            ...            ...
 32531   30                  ?   33811      Bachelors             13
 32532   34            Private  204461      Doctorate             16
 32533   54            Private  337992      Bachelors             13
 32534   37            Private  179137   Some-college             10
 32535   22            Private  325033           12th              8
 32536   34            Private  160216      Bachelors             13
 32537   30            Private  345898        HS-grad              9
 32538   38            Private  139180      Bachelors             13
 32539   71                  ?  287372      Doctorate             16
 32540   45          State-gov  252208        HS-grad              9
 32541   41                  ?  202822        HS-grad              9
 32542   72                  ?  129912        HS-grad              9
 32543   45          Local-gov  119199     Assoc-acdm             12
 32544   31            Private  199655        Masters             14
 32545   39          Local-gov  111499     Assoc-acdm             12
 32546   37            Private  198216     Assoc-acdm             12
 32547   43            Private  260761        HS-grad              9
 32548   65   Self-emp-not-inc   99359    Prof-school             15
 32549   43          State-gov  255835   Some-college             10
 32550   43   Self-emp-not-inc   27242   Some-college             10
 32551   32            Private   34066           10th              6
 32552   43            Private   84661      Assoc-voc             11
 32553   32            Private  116138        Masters             14
 32554   53            Private  321865        Masters             14
 32555   22            Private  310152   Some-college             10
 32556   27            Private  257302     Assoc-acdm             12
 32557   40            Private  154374        HS-grad              9
 32558   58            Private  151910        HS-grad              9
 32559   22            Private  201490        HS-grad              9
 32560   52       Self-emp-inc  287927        HS-grad              9

                marital-status          accupation     relationship  \
 0               Never-married        Adm-clerical    Not-in-family
 1          Married-civ-spouse     Exec-managerial          Husband
 2                    Divorced   Handlers-cleaners    Not-in-family
 3          Married-civ-spouse   Handlers-cleaners          Husband
 4          Married-civ-spouse      Prof-specialty             Wife
 5          Married-civ-spouse     Exec-managerial             Wife
 6       Married-spouse-absent       Other-service    Not-in-family
 7          Married-civ-spouse     Exec-managerial          Husband
 8               Never-married      Prof-specialty    Not-in-family
 9          Married-civ-spouse     Exec-managerial          Husband
 10         Married-civ-spouse     Exec-managerial          Husband
 11         Married-civ-spouse      Prof-specialty          Husband
 12              Never-married        Adm-clerical        Own-child
 13              Never-married               Sales    Not-in-family
 14         Married-civ-spouse        Craft-repair          Husband
 15         Married-civ-spouse    Transport-moving          Husband
 16              Never-married     Farming-fishing        Own-child
 17              Never-married   Machine-op-inspct        Unmarried
 18         Married-civ-spouse               Sales          Husband
 19                   Divorced     Exec-managerial        Unmarried
 20         Married-civ-spouse      Prof-specialty          Husband
 21                  Separated       Other-service        Unmarried
 22         Married-civ-spouse     Farming-fishing          Husband
 23         Married-civ-spouse    Transport-moving          Husband
 24                   Divorced        Tech-support        Unmarried
 25         Married-civ-spouse        Tech-support          Husband
 26              Never-married        Craft-repair        Own-child
 27         Married-civ-spouse                   ?          Husband
 28                   Divorced     Exec-managerial    Not-in-family
 29         Married-civ-spouse        Craft-repair          Husband
 ...                       ...                 ...              ...
 32531           Never-married                   ?    Not-in-family
 32532      Married-civ-spouse      Prof-specialty          Husband
 32533      Married-civ-spouse     Exec-managerial          Husband
 32534                Divorced        Adm-clerical        Unmarried
 32535           Never-married     Protective-serv        Own-child
 32536           Never-married     Exec-managerial    Not-in-family
 32537           Never-married        Craft-repair    Not-in-family
 32538                Divorced      Prof-specialty        Unmarried
 32539      Married-civ-spouse                   ?          Husband
 32540               Separated        Adm-clerical        Own-child
 32541               Separated                   ?    Not-in-family
 32542      Married-civ-spouse                   ?          Husband
 32543                Divorced      Prof-specialty        Unmarried
 32544                Divorced       Other-service    Not-in-family
 32545      Married-civ-spouse        Adm-clerical             Wife
 32546                Divorced        Tech-support    Not-in-family
 32547      Married-civ-spouse   Machine-op-inspct          Husband
 32548           Never-married      Prof-specialty    Not-in-family
 32549                Divorced        Adm-clerical   Other-relative
 32550      Married-civ-spouse        Craft-repair          Husband
 32551      Married-civ-spouse   Handlers-cleaners          Husband
 32552      Married-civ-spouse               Sales          Husband
 32553           Never-married        Tech-support    Not-in-family
 32554      Married-civ-spouse     Exec-managerial          Husband
 32555           Never-married     Protective-serv    Not-in-family
 32556      Married-civ-spouse        Tech-support             Wife
 32557      Married-civ-spouse   Machine-op-inspct          Husband
 32558                 Widowed        Adm-clerical        Unmarried
 32559           Never-married        Adm-clerical        Own-child
 32560      Married-civ-spouse     Exec-managerial             Wife

                       race      sex  capital-gain  capital-loss  \
 0                    White     Male          2174             0
 1                    White     Male             0             0
 2                    White     Male             0             0
 3                    Black     Male             0             0
 4                    Black   Female             0             0
 5                    White   Female             0             0
 6                    Black   Female             0             0
 7                    White     Male             0             0
 8                    White   Female         14084             0
 9                    White     Male          5178             0
 10                   Black     Male             0             0
 11      Asian-Pac-Islander     Male             0             0
 12                   White   Female             0             0
 13                   Black     Male             0             0
 14      Asian-Pac-Islander     Male             0             0
 15      Amer-Indian-Eskimo     Male             0             0
 16                   White     Male             0             0
 17                   White     Male             0             0
 18                   White     Male             0             0
 19                   White   Female             0             0
 20                   White     Male             0             0
 21                   Black   Female             0             0
 22                   Black     Male             0             0
 23                   White     Male             0          2042
 24                   White   Female             0             0
 25                   White     Male             0             0
 26                   White     Male             0             0
 27      Asian-Pac-Islander     Male             0             0
 28                   White     Male             0             0
 29                   White     Male             0             0
 ...                    ...      ...           ...           ...
 32531   Asian-Pac-Islander   Female             0             0
 32532                White     Male             0             0
 32533   Asian-Pac-Islander     Male             0             0
 32534                White   Female             0             0
 32535                Black     Male             0             0
 32536                White   Female             0             0
 32537                Black     Male             0             0
 32538                Black   Female         15020             0
 32539                White     Male             0             0
 32540                White   Female             0             0
 32541                Black   Female             0             0
 32542                White     Male             0             0
 32543                White   Female             0             0
 32544                Other   Female             0             0
 32545                White   Female             0             0
 32546                White   Female             0             0
 32547                White     Male             0             0
 32548                White     Male          1086             0
 32549                White   Female             0             0
 32550                White     Male             0             0
 32551   Amer-Indian-Eskimo     Male             0             0
 32552                White     Male             0             0
 32553   Asian-Pac-Islander     Male             0             0
 32554                White     Male             0             0
 32555                White     Male             0             0
 32556                White   Female             0             0
 32557                White     Male             0             0
 32558                White   Female             0             0
 32559                White     Male             0             0
 32560                White   Female         15024             0

        hours-per-week  native-country
 0                  40   United-States
 1                  13   United-States
 2                  40   United-States
 3                  40   United-States
 4                  40            Cuba
 5                  40   United-States
 6                  16         Jamaica
 7                  45   United-States
 8                  50   United-States
 9                  40   United-States
 10                 80   United-States
 11                 40           India
 12                 30   United-States
 13                 50   United-States
 14                 40               ?
 15                 45          Mexico
 16                 35   United-States
 17                 40   United-States
 18                 50   United-States
 19                 45   United-States
 20                 60   United-States
 21                 20   United-States
 22                 40   United-States
 23                 40   United-States
 24                 40   United-States
 25                 40   United-States
 26                 40   United-States
 27                 60           South
 28                 80   United-States
 29                 40   United-States
 ...               ...             ...
 32531              99   United-States
 32532              60   United-States
 32533              50           Japan
 32534              39   United-States
 32535              35   United-States
 32536              55   United-States
 32537              46   United-States
 32538              45   United-States
 32539              10   United-States
 32540              40   United-States
 32541              32   United-States
 32542              25   United-States
 32543              48   United-States
 32544              30   United-States
 32545              20   United-States
 32546              40   United-States
 32547              40          Mexico
 32548              60   United-States
 32549              40   United-States
 32550              50   United-States
 32551              40   United-States
 32552              45   United-States
 32553              11          Taiwan
 32554              40   United-States
 32555              40   United-States
 32556              38   United-States
 32557              40   United-States
 32558              40   United-States
 32559              20   United-States
 32560              40   United-States

 [32561 rows x 14 columns],
        age          workclass  fnlwgt      education  education-num  \
 0       25            Private  226802           11th              7
 1       38            Private   89814        HS-grad              9
 2       28          Local-gov  336951     Assoc-acdm             12
 3       44            Private  160323   Some-college             10
 4       18                  ?  103497   Some-college             10
 5       34            Private  198693           10th              6
 6       29                  ?  227026        HS-grad              9
 7       63   Self-emp-not-inc  104626    Prof-school             15
 8       24            Private  369667   Some-college             10
 9       55            Private  104996        7th-8th              4
 10      65            Private  184454        HS-grad              9
 11      36        Federal-gov  212465      Bachelors             13
 12      26            Private   82091        HS-grad              9
 13      58                  ?  299831        HS-grad              9
 14      48            Private  279724        HS-grad              9
 15      43            Private  346189        Masters             14
 16      20          State-gov  444554   Some-college             10
 17      43            Private  128354        HS-grad              9
 18      37            Private   60548        HS-grad              9
 19      40            Private   85019      Doctorate             16
 20      34            Private  107914      Bachelors             13
 21      34            Private  238588   Some-college             10
 22      72                  ?  132015        7th-8th              4
 23      25            Private  220931      Bachelors             13
 24      25            Private  205947      Bachelors             13
 25      45   Self-emp-not-inc  432824        HS-grad              9
 26      22            Private  236427        HS-grad              9
 27      23            Private  134446        HS-grad              9
 28      54            Private   99516        HS-grad              9
 29      32   Self-emp-not-inc  109282   Some-college             10
 ...    ...                ...     ...            ...            ...
 16251   81                  ?   26711      Assoc-voc             11
 16252   60            Private  117909      Assoc-voc             11
 16253   39            Private  229647      Bachelors             13
 16254   38            Private  149347        Masters             14
 16255   43          Local-gov   23157        Masters             14
 16256   23            Private   93977        HS-grad              9
 16257   73       Self-emp-inc  159691   Some-college             10
 16258   35            Private  176967   Some-college             10
 16259   66            Private  344436        HS-grad              9
 16260   27            Private  430340   Some-college             10
 16261   40            Private  202168    Prof-school             15
 16262   51            Private   82720        HS-grad              9
 16263   22            Private  269623   Some-college             10
 16264   64   Self-emp-not-inc  136405        HS-grad              9
 16265   50          Local-gov  139347        Masters             14
 16266   55            Private  224655        HS-grad              9
 16267   38            Private  247547      Assoc-voc             11
 16268   58            Private  292710     Assoc-acdm             12
 16269   32            Private  173449        HS-grad              9
 16270   48            Private  285570        HS-grad              9
 16271   61            Private   89686        HS-grad              9
 16272   31            Private  440129        HS-grad              9
 16273   25            Private  350977        HS-grad              9
 16274   48          Local-gov  349230        Masters             14
 16275   33            Private  245211      Bachelors             13
 16276   39            Private  215419      Bachelors             13
 16277   64                  ?  321403        HS-grad              9
 16278   38            Private  374983      Bachelors             13
 16279   44            Private   83891      Bachelors             13
 16280   35       Self-emp-inc  182148      Bachelors             13

             marital-status          accupation     relationship  \
 0            Never-married   Machine-op-inspct        Own-child
 1       Married-civ-spouse     Farming-fishing          Husband
 2       Married-civ-spouse     Protective-serv          Husband
 3       Married-civ-spouse   Machine-op-inspct          Husband
 4            Never-married                   ?        Own-child
 5            Never-married       Other-service    Not-in-family
 6            Never-married                   ?        Unmarried
 7       Married-civ-spouse      Prof-specialty          Husband
 8            Never-married       Other-service        Unmarried
 9       Married-civ-spouse        Craft-repair          Husband

In [ ]:
def preprocess(df, imputer=None):
    if imputer == None:
        imputer = SimpleImputer(missing_values=np.nan, strategy='median')
        imputer.fit(df)
    return imputer.transform(df), imputer

In [9]:
headers = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
             'marital-status', 'accupation', 'relationship', 'race', 'sex',
             'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'label']

X_train, _, _, _ = load_data()
set(X_train[headers[3]])

{' 10th',
 ' 11th',
 ' 12th',
 ' 1st-4th',
 ' 5th-6th',
 ' 7th-8th',
 ' 9th',
 ' Assoc-acdm',
 ' Assoc-voc',
 ' Bachelors',
 ' Doctorate',
 ' HS-grad',
 ' Masters',
 ' Preschool',
 ' Prof-school',
 ' Some-college'}